.azeret-mono {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

body{
    margin: 0 auto;
    
}

/*Banner section style start here */

  .baneer-conteiner{
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1448px;
    height: 652px;
    margin-top: 205px;
  }

  .banner-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 22px;
    
  }

  .profile-image{
width: 240.28px;
height: 240px;
margin-top: 22px;
  }

  .banner-title{
color: rgb(13, 19, 33);
font-size: 48px;
font-weight: 800;
line-height: 68px;
letter-spacing: 0%;
text-align: center;
  }

  .banner-description{
color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
margin-left: 232px;
margin-right: 363px;
margin-top: 0%;
  }

  .contact{
width: 208px;
height: 66px;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
color: white;
border-radius: 8px;
background: rgb(13, 19, 33);
padding: 21px 24px 21px 24px;
  }